<app-dashboard-layout>
  <section class="p-3 w-full h-full lg:max-h-screen">
    <app-clients-header [totalClients]="clients().length" />

    <app-clients-list
      [clients]="filteredClients()"
      [isLoading]="isLoadingClients()"
      (searchChange)="updateSearch($event)"
      (editUser)="openEditModal($event)"
      (deleteUser)="openDeleteModal($event)"
      (addUser)="openModal()"
    />
  </section>
</app-dashboard-layout>

<app-client-create-modal
  [show]="showAddModal()"
  (close)="closeModal()"
  [form]="clientService.createForm"
  (save)="saveClient()"
  [isLoading]="isCreating()"
/>

<app-client-edit-modal
  [show]="showEditModal()"
  (close)="closeModal()"
  [form]="clientService.editForm"
  (update)="updateClient()"
  [isLoading]="isEditing()"
/>

<app-clients-delete-modal
  [show]="showDeleteModal()"
  (close)="closeModal()"
  [client]="selectedClient"
  (confirmDelete)="confirmDelete()"
  [isLoading]="isDeleting()"
/>
