<main class="flex h-screen justify-center items-center">
  <section class="px-4">
    <app-auth-header
      [title]="'Recupere sua senha'"
      [subtitle]="'Já possui uma conta?'"
      [linkText]="'Fazer login'"
      [link]="'auth/signin'"
    ></app-auth-header>
    <form
      [formGroup]="resetPasswordForm"
      class="mt-5 flex flex-col gap-2"
      (ngSubmit)="submit()"
    >
      <app-input
        formControlName="password"
        inputName="password"
        [type]="'password'"
        label="Sua nova senha"
      >
      </app-input>

      <app-input
        formControlName="confirmPassword"
        inputName="confirmPassword"
        [type]="'password'"
        label="Confirme sua nova senha"
      >
      </app-input>

      <a class="text-teal-900 font-poppin font-medium mt-5 cursor-pointer" (click)="navigate()"
        ><span> Fazer login?</span></a
      >

      <app-button
        [disabled]="!resetPasswordForm.valid || isLoading"
        [type]="'submit'"
        [isLoading]="isLoading"
        (onClick)="submit()"
        >Resetar senha</app-button
      >
    </form>
  </section>
</main>
