<app-dashboard-layout>
  <section class="p-3 w-full h-full lg:max-h-screen">
    <app-genre-header [totalGenres]="genres().length" />

    <app-genre-list
      [genres]="filteredGenres()"
      [isLoading]="isLoadingGenres()"
      (searchChange)="updateSearch($event)"
      (editUser)="openEditModal($event)"
      (deleteUser)="openDeleteModal($event)"
      (addUser)="openModal()"
    />
  </section>
</app-dashboard-layout>

<app-genre-create-modal
  [isValidClassName]="genreService.createGenreForm.invalid"
  [show]="showAddModal()"
  (close)="closeModal()"
  [form]="genreService.createGenreForm"
  (save)="saveGenre()"
  [isLoading]="isCreating()"
/>

<app-genre-edit-modal
  [show]="showEditModal()"
  (close)="closeModal()"
  [form]="genreService.editGenreForm"
  (update)="updateGenre()"
  [isLoading]="isEditing()"
/>

<app-genre-delete-modal
  [show]="showDeleteModal()"
  (close)="closeModal()"
  [genre]="selectedGenre"
  (confirmDelete)="confirmDelete()"
  [isLoading]="isDeleting()"
/>
