<app-modal [show]="show" (close)="onClose()" title="Editar empréstimo">
  <form [formGroup]="form" (submit)="onSubmit()" class="md:min-w-[35rem]">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <label class="text-sm font-sans text-gray-800" for="bookIdEdit"
          >Livro</label
        >
        <div
          class="input-content flex items-center border border-gray-300 rounded-lg bg-white p-3 text-gray-800 w-full lg:min-w-[27.5rem]"
        >
          @if(isLoadingBooks) {
          <app-spinner />
          } @else {
          <select
            id="bookIdEdit"
            formControlName="bookId"
            class="w-full outline-none"
          >
            <option [value]="null">Selecione um livro</option>
            @for (book of books; track book.id) {
            <option [value]="book.id">{{ book.title }}</option>
            }
          </select>
          }
        </div>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-sm font-sans text-gray-800" for="userIdEdit"
          >Usuário</label
        >
        <div
          class="input-content flex items-center border border-gray-300 rounded-lg bg-white p-3 text-gray-800 w-full lg:min-w-[27.5rem]"
        >
          @if(isLoadingClients) {
          <app-spinner />
          } @else {
          <select
            id="clientIdEdit"
            formControlName="clientId"
            class="w-full outline-none"
          >
            <option [value]="null">Selecione um usuário</option>
            @for (client of clients; track client.id) {
            <option [value]="client.id">{{ client.name }}</option>
            }
          </select>
          }
        </div>
      </div>

      <app-input
        label="Data do Empréstimo"
        placeholder="dd/mm/aaaa"
        type="text"
        formControlName="loanDate"
        [maxlength]="10"
        (valueChange)="onEditLoanDateInput($event)"
      ></app-input>

      <app-input
        label="Data esperada de Devolução"
        placeholder="dd/mm/aaaa"
        type="text"
        formControlName="returnDate"
        [maxlength]="10"
        (valueChange)="onEditReturnDateInput($event)"
      ></app-input>

      <app-input
        label="Data de Devolução"
        placeholder="dd/mm/aaaa"
        type="text"
        formControlName="returnedAt"
        [maxlength]="10"
        (valueChange)="onEditReturnDateAtInput($event)"
      ></app-input>
    </div>

    <div class="flex justify-end mt-4 w-full">
      <app-button
        [disabled]="form.invalid || isLoading"
        [isLoading]="isLoading"
        type="submit"
        class="bg-teal-900 text-white rounded-2xl w-full"
      >
        Salvar
      </app-button>
    </div>
  </form>
</app-modal>
