<section class="flex flex-col w-full flex-1">
  <header
    class="flex flex-col gap-2 md:flex-row justify-between w-full md:items-center mt-10"
  >
    <h2 class="font-poppins text-gray-800 font-medium">Lista de Livros</h2>

    <app-input
      placeholder="Ex: Busque por nome, título ou autor"
      class="w-full md:max-w-[18.75rem] lg:max-w-[27.5rem]"
      (valueChange)="onSearchChange($event)"
    >
      <img src="assets/icons/search.svg" alt="Buscar" class="w-5 h-5" />
    </app-input>
  </header>

  <div class="mt-10 flex flex-wrap gap-5 max-h-[32rem] overflow-auto">
    @if (isLoading) {
    <div class="w-full flex justify-center items-center py-10">
      <app-spinner />
    </div>
    } @else if (books.length > 0) { @for (book of books; track book.id) {
    <app-book-by-card
      [id]="book.id"
      [title]="book.title"
      [author]="book.author"
      [publishYear]="book.publishYear"
      [imageUrl]="book.imageUrl"
      class="w-full lg:w-auto"
      (edit)="onEdit(book)"
      (delete)="onDelete(book)"
      (seeMore)="openSeeMoreModal(book)"
    ></app-book-by-card>
    } } @else {
    <p class="text-gray-600 font-sans">Nenhum livro encontrado.</p>
    }
  </div>

  <div class="w-full flex justify-end mt-5">
    <app-button (click)="onAddBook()" className="bg-teal-900">
      <img src="assets/icons/add.svg" />
    </app-button>
  </div>
</section>
