<app-dashboard-layout>
  <section class="p-3 w-full h-full lg:max-h-screen">
    <app-loan-header [totalLoans]="filteredLoans().length" />

    <app-loan-list
      [loans]="filteredLoans()"
      [loanService]="loanService"
      [isLoadingLoans]="isLoadingLoans()"
      [displayMonth]="displayMonth"
      [displayYear]="displayYear"
      [yearOptions]="yearOptions"
      [showDropdownMonthOpen]="showDropdownMonthOpen"
      [showDropdownYearOpen]="showDropdownYearOpen"
      (toggleDropdownMonth)="toggleDropdownMonth()"
      (toggleDropdownYear)="toggleDropdownYear()"
      (selectMonth)="onSelectMonth($event)"
      (selectYear)="onSelectYear($event)"
      (searchChange)="updateSearch($event)"
      (editLoan)="openEditModal($event)"
      (deleteLoan)="openDeleteModal($event)"
      (addLoan)="openAddModal()"
    />
  </section>
</app-dashboard-layout>

<app-loan-create-modal
  [show]="showAddModal()"
  (close)="closeModal()"
  [form]="loanService.createLoanForm"
  (save)="saveLoan()"
  [isLoading]="isCreating()"
  [books]="books()"
  [clients]="clients()"
  [isLoading]="isCreating()"
  [isLoadingBooks]="isLoadingBooks()"
  [isLoadingClients]="isLoadingClients()"
  (loanDateInput)="onCreateLoanDateInput($event)"
  (returnDateInput)="onCreateReturnDateInput($event)"
/>

<app-loan-edit-modal
  [show]="showEditModal()"
  (close)="closeModal()"
  [form]="loanService.editLoanForm"
  (update)="updateLoan()"
  [isLoading]="isEditing()"
  [books]="books()"
  [clients]="clients()"
  [isLoading]="isEditing()"
  [isLoadingBooks]="isLoadingBooks()"
  [isLoadingClients]="isLoadingClients()"
  (loanDateInput)="onEditLoanDateInput($event)"
  (returnDateAtInput)="onEditReturnDateAtInput($event)"
  (returnDateInput)="onEditReturnDateInput($event)"
/>

<app-loan-delete-modal
  [show]="showDeleteModal()"
  (close)="closeModal()"
  [bookname]="loanService.getBookName(selectedLoan?.bookId ?? 0)"
  (confirmDelete)="confirmDelete()"
  [isLoading]="isDeleting()"
/>
