<app-modal [show]="show" (close)="onClose()" title="Adicionar um gênero">
  <form [formGroup]="form" (submit)="onSubmit()" class="md:min-w-[30rem]">
    <div class="flex flex-col gap-3">
      <app-input
        label="Nome do Gênero"
        placeholder="Ex: Romance"
        formControlName="name"
      ></app-input>
      <app-input
        label="Descrição do Gênero"
        placeholder="Ex: Grandes jornadas, explorações e desafios épicos."
        formControlName="description"
      ></app-input>
    </div>
    <div class="flex justify-end gap-2 mt-4 w-full">
      <app-button
        class="w-full"
        [className]="
          !isValidClassName ? 'bg-teal-900 text-white rounded-2xl' : ''
        "
        [disabled]="form.invalid || isLoading"
        [isLoading]="isLoading"
      >
        Criar
      </app-button>
    </div>
  </form>
</app-modal>
