<section class="flex flex-col w-full flex-1">
  <header
    class="flex flex-col gap-2 md:flex-row justify-between w-full md:items-center mt-10"
  >
    <h2 class="font-poppins text-gray-800 font-medium">Lista de usuários</h2>

    <app-input
      placeholder="Procure um usuario"
      class="w-full md:max-w-[18.75rem] lg:max-w-[27.5rem]"
      (valueChange)="onSearchChange($event)"
    >
      <img src="assets/icons/search.svg" alt="Search" class="w-5 h-5" />
    </app-input>
  </header>

  <div class="mt-10 flex flex-wrap gap-5 max-h-[32rem] overflow-auto">
    @if (isLoading) {
    <div class="w-full flex justify-center items-center py-10">
      <app-spinner></app-spinner>
    </div>
    } @else if (users.length === 0) {
    <p class="text-gray-500 text-center w-full">Nenhum usuario encontrado</p>
    } @else { @for (user of users; track user.id) {
    <app-user-card
      [name]="user.name"
      [role]="user.role"
      [id]="user.id"
      [email]="user.email"
      [phoneNumber]="user.phoneNumber"
      class="w-full lg:w-auto"
      (edit)="onEdit(user)"
      (delete)="onDelete(user)"
    ></app-user-card>
    } }
  </div>

  <div class="w-full flex justify-end mt-5">
    <app-button (onClick)="onAddUser()" className="bg-teal-900">
      <img src="assets/icons/add.svg" />
    </app-button>
  </div>
</section>
