<main class="flex h-screen justify-center items-center">
  <section class="px-4">
    <app-auth-header
      [title]="'Recupere sua senha'"
      [subtitle]="'Já possui uma conta?'"
      [linkText]="'Fazer login'"
      [link]="'auth/signin'"
    ></app-auth-header>
    <form
      [formGroup]="recoveryPasswordForm"
      class="mt-5 flex flex-col gap-2"
      (ngSubmit)="submit()"
    >
      <app-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="johndoe@gmail.com"
      >
      </app-input>

      <a class="text-teal-900 font-poppin font-medium mt-5 cursor-pointer" (click)="navigate()"
        >Fazer login?</a
      >

      <app-button
        [disabled]="!recoveryPasswordForm.valid || isLoading"
        [type]="'submit'"
        [isLoading]="isLoading"
        (onClick)="submit()"
        >Recuperar senha</app-button
      >
    </form>
  </section>
</main>
