<app-dashboard-layout class="">
  <section class="p-3 w-full h-full">
    <app-books-header [totalBooks]="books().length" />

    <app-books-list
      [books]="filteredBooks()"
      [isLoading]="isLoadingBooks()"
      (searchChange)="updateSearch($event)"
      (editBook)="openEditModal($event)"
      (deleteBook)="openDeleteModal($event)"
      (addBook)="openAddModal()"
      (seeMore)="openSeeMoreModal($event)"
    />
  </section>
</app-dashboard-layout>

<app-books-create-modal
  [show]="showAddModal()"
  (close)="closeModal()"
  [form]="bookService.createBookForm"
  [isLoading]="isCreating()"
  [genres]="genres()"
  [isLoadingGenres]="isLoadingGenres()"
  (select)="onFileSelected($event)"
/>

<app-books-edit-modal
  [show]="showEditModal()"
  (close)="closeModal()"
  [form]="bookService.editBookForm"
  (update)="updateBook()"
  [isLoading]="isEditing()"
  [genres]="genres()"
  [isLoadingGenres]="isLoadingGenres()"
  (select)="onFileSelected($event)"
/>

<app-book-see-modal
  [show]="showEditModal()"
  (close)="closeModal()"
  [bookSelected]="bookService.selectedBook!"
/>

<app-books-delete-modal
  [show]="showDeleteModal()"
  (close)="closeModal()"
  [book]="bookService.selectedBook"
  (confirmDelete)="confirmDelete()"
  [isLoading]="isDeleting()"
/>
