<header class="flex gap-4 flex-col md:flex-row justify-between w-full">
  <section class="flex flex-col gap-2">
    <h1 class="font-poppins text-2xl text-gray-900 font-bold">Clientes</h1>
    <span class="font-sans text-gray-700"> Monitore os clientes </span>
  </section>

  <section
    class="flex flex-col bg-white drop-shadow-sm py-3 px-5 rounded-md gap-2"
  >
    <span class="font-poppins text-gray-700 text-sm">
      Número total de clientes:
    </span>
    <span class="font-sans text-gray-900 font-bold">
      {{ totalClients }}
    </span>
  </section>
</header>
