<app-dashboard-layout>
  <section class="p-3 w-full h-full lg:max-h-screen">
    <app-users-header [totalUsers]="users().length"></app-users-header>

    <app-users-list
      [users]="filteredUsers()"
      [isLoading]="isLoadingUsers()"
      (searchChange)="updateSearch($event)"
      (editUser)="openEditModal($event)"
      (deleteUser)="openDeleteModal($event)"
      (addUser)="openModal()"
    ></app-users-list>

    <app-user-create-modal
      [show]="showAddModal()"
      (close)="closeModal()"
      [form]="userService.createForm"
      (save)="saveUser()"
      [isLoading]="isCreating()"
    ></app-user-create-modal>

    <app-user-edit-modal
      [show]="showEditModal()"
      (close)="closeModal()"
      [form]="userService.editForm"
      (update)="updateUser()"
      [isLoading]="isEditing()"
    ></app-user-edit-modal>

    <app-user-delete-modal
      [show]="showDeleteModal()"
      (close)="closeModal()"
      [user]="selectedUser"
      (confirmDelete)="confirmDelete()"
      [isLoading]="isDeleting()"
    ></app-user-delete-modal>
  </section>
</app-dashboard-layout>
